@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond !important;
}

.mainTitle {
  font-family: "Protest Riot", cursive;
  color: brown;
  font-size: 35px;
  font-weight: lighter;
}

.description {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

#navigation {
  background-color: brown;
  border: solid 1px white;
}

.burgerMenu {
  color: blanchedalmond;
  font-size: 40px;
}

.ambienteSeagull {
  width: 100%;
  height: 700px;
  margin: auto;
}

#navLink {
  color: blanchedalmond;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.iconsRestaurants {
  width: 100px;
  border-radius: 50px;
}

.imageLoader {
  width: 150px;
  border-radius: 100px;
}

.loader {
  background-color: rgb(222, 184, 135, 0.6);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 2s ease-in-out;
  animation-duration: 2s;
  animation-name: aumento;
  z-index: 1000000;
}

@keyframes aumento {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
}

.loader2 {
  clip-path: circle(0% at 100% 0);
}

.socialNetwork {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

#sliderImg {
  width: 200px;
}

@media screen and (min-width: 992px) {
  #navbarSupportedContent {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.button {
  width: 100px;
  color: white;
}

.words {
  font-family: "Bad Script", cursive;
}

/* PLATOS DE BREAKFAST */

.photoPlate {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  border-style: solid;
}

.plateName {
  font-style: oblique;
  text-align: center;
  color: darkred;
  margin-top: 10px;
}

.ingredients {
  margin-top: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.price {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: darkred;
}

footer {
  background-color: brown;
}

@media screen and (max-width: 550px) {
  .ambienteSeagull {
    height: 400px;
    width: 100%;
    transition: fadein 3s ease forwards;
    opacity: 0.5;
  }

  .hide {
    opacity: 0;
    animation: fadein 6s ease forwards;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
