{% load static %}

<footer class="text-center text-lg-start text-dark" style="background-color: brown">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white border-top border-bottom">
      <!-- Left -->
      <div class="me-5">
        <span>Follow Us:</span>
      </div>
      <div>
        <a href="https://www.facebook.com/seagullmethod" target="_blank" class="text-white me-4">
          <i class="fa-brands fa-facebook-f" style="color: #ffffff; font-size: 20px;"></i>
        </a>
        <a href="https://www.instagram.com/seagullmethodcafe/" target="_blank" class="text-white me-4">
          <i class="fab fa-instagram" style="font-size: 20px;"></i>
        </a>
        <a href="https://open.spotify.com/user/fhw6qefd6kv88cb1z72az2qvg?si=d93be5b4c8774e7a" target="_blank"
          class="text-white me-4">
          <i class="fa-brands fa-spotify" style="font-size: 20px;"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold fs-5 fst-italic" style="color: blanchedalmond;">Come and Visit us</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <br>
            <div class="ratio ratio-16x9">
            <iframe class="text-center ratio-item" style="border-radius: 20px; height: 250px;"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.138172384528!2d-9.152224584823148!3d38.714636579599194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19333a2feac5bf%3A0x428bc0902a2efc3e!2sSeagull%20Method%20cafe%20%E2%80%A2%20Brunch%20cafe!5e0!3m2!1ses-419!2spt!4v1680201202748!5m2!1ses-419!2spt"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-semibold fs-5 fst-italic" style="color: blanchedalmond;">Useful Info</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
             <p class="text-white fw-medium">
              <i class="fa-solid fa-address-book" style="color: #ffffff;"></i> We don't accept reservations on weekends or holidays!
            </p>
            <p class="text-white fw-medium">
              <i class="fa-solid fa-utensils" style="color: #ffffff;"></i> Our kitchen closes at 17:30hs
            </p>            
            <p class="text-white fw-medium">
              <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i> We're open from 9hs to 18hs Everyday
            </p>            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-semibold fs-5 fst-italic" style="color: blanchedalmond;">Still hungry? </h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            
            <p>
              <a class="" href="https://www.instagram.com/kefi.lisbon/"><img src="{% static 'img/kefi.png' %}"
                alt="kefiBistro" class="mx-auto d-block iconsRestaurants"></a>
            </p>
            <p>
              <a class="dropdown-item" href="https://www.instagram.com/heimcafe.lisbon/"><img
                src="{% static 'img/heim.jpg' %}" alt="heim" class="mx-auto d-block iconsRestaurants"></a>
            </p>
            <p>
              <a class="" href="https://www.instagram.com/pomme_eatery/"><img
                src="{% static 'img/pomme.jpg' %}" alt="pommeEatery" class="mx-auto d-block  iconsRestaurants"></a></li>
            </p>       
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-semibold fs-5 fst-italic" style="color: blanchedalmond;">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p class="text-white"><i class="fas fa-home mr-3 text-white"></i> Rua da Palmeira 23, Lisbon, Portugal</p>
            <p class="text-white"><i class="fas fa-envelope mr-3 text-white"></i> seagullmethod@neptunec.com</p>
            <p class="text-white"><i class="fas fa-phone mr-3 text-white"></i> + 351 963 842 543</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Created by:
      <a class="text-dark" href="https://www.youtube.com/watch?v=Wu4_zVxmufY" target="_blank">Daniel Erazo</a>
    </div>
    <!-- Copyright -->
</footer>