<nav id="navigation" class="navbar navbar-expand-lg" style="background-color:brown">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.instagram.com/seagullmethodcafe/" target="_blank"><img
          src="./imagenes/SEAGULL.jpg" class="iconsRestaurants" alt="logoSeagull"></a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" style="color: blanchedalmond; font-size: 40px"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="navLink" class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a id="navLink" class="nav-link" href="./breakfast.html">Breakfast</a>
          </li>
          <li class="nav-item">
            <a id="navLink" class="nav-link" href="lunch.html">Lunch</a>
          </li>
          <li class="nav-item">
            <a id="navLink" class="nav-link" href="./desserts.html">Desserts</a>
          </li>
          <li class="nav-item">
            <a id="navLink" class="nav-link" href="./drinks.html">Drinks</a>
          </li>
          <li class="nav-item dropdown">
            <a id="navLink" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Still hungry?
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.instagram.com/kefi.lisbon/"><img src="./imagenes/kefi.png"
                    alt="kefiBistro" class="mx-auto d-block iconsRestaurants"></a></li>
              <li><a class="dropdown-item" href="https://www.instagram.com/heimcafe.lisbon/"><img
                    src="./imagenes/heim.jpg" alt="heim" class="mx-auto d-block iconsRestaurants"></a></li>
              <li><a class="dropdown-item" href="https://www.instagram.com/pomme_eatery/"><img
                    src="./imagenes/pomme.jpg" alt="pommeEatery" class="mx-auto d-block iconsRestaurants"></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>