{% extends 'base/base.html' %}

{% block cotent %}

  <div class="loader">
    <img src="./imagenes/lunchLoader.jpg" alt="loader" style="width: 150px; border-radius: 100px;">
  </div>
  <main>
  <p class="text-center text-black mt-3 words fw-bold">"All of our dishes are made with patience, love and creativity"</p>
  <div class="container mt-5">
    <div id="card-lunch" class="row">   
      <script>
        sectionLunch();
      </script>       
    </div>       
  </div>
  </main>
  
{% endblock cotent %}
